body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f9; */
  color: #013568;
  line-height: 1.5em;
}

.container-fluid {
  padding: 0;
  display: flex; /* Use flex layout for columns */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: space-between; /* Space out columns evenly */
  gap: 0.5rem; /* Add spacing between columns */
}

/* Header */
.header {
  margin: 0;
  padding: 0;
  background-color: #013568;
  color: white;
  width: 100%;
  box-sizing: border-box; /* Include padding in width calculation */
  position: fixed; /* Fixed to the top */
  top: 0;
  z-index: 1000;
  text-align: center;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.header img {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; 
}

/* End Header */

/* Footer */
.footer {
  margin: 0;
  padding: 0;
  background-color: #013568;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position: relative; /* Relative positioning */
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.footer img {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  max-width: 1200px; /* Optional: Limit maximum width */
}
/* End Header */

/* Responsive Adjustments  Header and Footer */
@media screen and (max-width: 768px) {
  .header img, .footer img {
    max-width: 100%; /* Allow full width on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .header img, .footer img {
    max-width: 100%; /* Ensure responsiveness on very small screens */
    padding: 0.5rem; /* Add padding for better spacing */
  }
}
/* End Responsive adjustment Header & Footer */

/* Main Title, heading and general text */
.main-title {
  /* font-size: 1.5rem; */
  /* VRID .et_pb_text_1 h2 */
  font-weight: 650;
  font-size: 20px;
  color: #013568 !important;
  text-align: center;
  line-height: 1.3em;
  /* End VRID website */
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 2px solid #F88300;
  padding-bottom: 5px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #013568;
  text-align: center;
}

h2 {
  /* VRID et_pb_text_3 h3 */
  font-weight: 700;
  font-size: 20px;
  color: #013568 !important;
  /* End VRID */
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;

}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

p {
  font-size: 100%;
  margin: 10px 0;
  /* text-align: left; */
}
/* End of text formatting */


/* Infographic (each column) */
.infographic {
  max-width: 40%;
  margin-top: 60px;
  margin-left: 50px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}
/* End of Infographic (each column) */


/* Right Column settings */

/* Dimensions */

.dimensions {
  margin-top: 20px;
  margin: 0 auto;
}

.dimensions h2 {
  text-align: left !important;
}
  
.dimension {
  display: flex;
  max-width: 100%;
  margin: auto;
  margin-bottom: 15px;
  padding: 10px;
  background: #013568;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.dimension .icon {
  font-size: 2rem;
  margin-right: 15px;
  color: #013568;    
  transition: transform 0.8s; /* Animation */
}

.dimension .icon:hover {
  transform: scale(1.5);
  }

.dimension p {
  font-size: 0.8rem;
  color: #fff;
  margin: 0;
}

.dimension strong {
  font-size: 1rem;
  color: #F88300;
  margin: 0;
}
/* End of Dimensions */
/* End Right Column settings */

/* Middle Column settings */
/* Radar Chart image and clickable area */
.chart-section {
  text-align: center;
  margin: 20px 0;
}

.radar-chart {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
}

.radar-chart img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  display: block;
}

/* popup section (clickable area) */
/* popup section (clickable area) */
/* Image popup container styling */
.image-popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0.5rem;
}

.image-popup-container img {
  max-width: 100%; /* Adjusts to container */
  height: auto; /* Maintains aspect ratio */
}

/* Popup styling */
.popup {
  display: none; /* Hidden by default */
  position: absolute; /*Changed to fixed so its shown across all viewport*/
  z-index: 1000;
  left: 0;
  top: 0 !important;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0; /* Start transparent */
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Ensure clicks pass through when not visible */
  display:flex;
  justify-content:center;
  align-items:center;
}

.popup.show {
    display: flex; /*Added display flex for positioning and to start the animation*/
    opacity: 1; /* Show popup with fade effect */
    pointer-events: auto;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transform: scale(0); /* Start with scale(0) for zoom-out effect */
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
  margin: 20% 20% 50% 20%; /* Adjust as needed */
}


.popup.show .popup-content {
  transform: scale(1); /* Zoom-in effect */
}


.popup-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

/* Keyframes for zoom-in and zoom-out */
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

/* Debugging only */
/* area {
  outline: 2px solid red;
} */

/* End of popup section */
/* End of Radar Chart image and clickable area */

/* Legend section */
.legend-section {
  margin-top: 20px;
}

.legend-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  background: #eef2f9;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  table-layout:auto;
}

.legend-table th, .legend-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  max-width: 300px; /* Set maximum width for cells */
  overflow-wrap: break-word; /* Break long words */
  word-break: break-word; /* Handle word breaking */
  word-wrap: break-word; /* For older browsers */
}

.legend-table th {
  background-color: #013568;
  color: #fff;
}

.legend-table .star {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 5px;
}

.star.grey {
  color: #d9d9d9;
}

.star.orange {
  color: #f88300;
}
/* End of Legend section */
/* End of Middle Column settings */


/* Left Column settings */

/* Generic No-numbered lists */
ul.generic-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.generic-list p {
  text-align: center;
}
ul.generic-list  li {
  display: flex;
  align-items: center;
  vertical-align:middle;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);

}

ul.generic-list  li .icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #f88300;
}


.hyperlink:hover {
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
} 

/* End of generic no-numbered lists */

/* Committments Section */
ul.commitments-list li .icon {
  color: #007bff;
}
ul.commitments-list li {
  font-size: 0.75rem;
  box-shadow: none;  
}

ul.commitments-list li:hover {
  color: #013568;
  cursor: pointer; 
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
}

/* End of Committments Section */

/* Milestones Section */
.milestone-chart {
  transition: transform 0.8s; /* Animation */
}

.milestone-chart img {
  max-width: 90%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: block;
}

.milestone-chart:hover {
transform: scale(2.0);
}

ul.milestones-list li {
  font-size: 0.85rem;
  font-weight: 500;
  box-shadow: none;  
}
/* End of Milestones Section */


/* Improvements Section */
ul.improvement-list {
  list-style: none;
  padding: 0;
}

ul.improvement-list li {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333;
}

ul.improvement-list li .icon {
  color: #ffc107;
}

.improvement-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures even spacing between elements */
  gap: 15px; /* Adds spacing between image and text */
}

.improvement-chart {
  flex: 1 1 50%; /* Takes 50% of the container width */
  transition: transform 0.8s; /* Animation */

}

.improvement-chart img {
  max-width: 100%; /* Ensures the image scales correctly */
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: block;
}

.improvement-chart:hover {
  transform: scale(2.0);
  }
  

.improvement-text {
  flex: 1 1 50%; /* Takes 50% of the container width */
  text-align: left;
}
/* End Improvements Section */



/* Bottom area - Additional information and links  */
/* Links of interest */
ul.link-of-interest {
  text-decoration: none;
}


ul.links-of-interest li img{
  color: #007bff;
  margin-right: 10px;
}

ul.links-of-interest li {
  font-size: 0.75rem;
  box-shadow: none;
}

ul.links-of-interest p{
  text-align: left;
}
ul.links-of-interest li:hover {
  color: #013568;
  cursor: pointer; 
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
}
/* End of Links of interest */

.info-column {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Responsive Design */
@media (max-width: 1024px) {
  .column {
    max-width: 48%; /* Allow two columns on medium screens */
    margin: 0;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .column {
    max-width: 100%; /* Stack columns vertically on small screens */
  }
}

